/*
font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  font-family: "Karla", sans-serif;
  color: hsl(273, 4%, 51%);
  font-weight: 400;
  text-transform: uppercase;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.menu ul {
  display: flex;
  gap: 2rem;
}
.menu ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu ul li:hover,
.menu ul li:visited {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
}
.menu ul li:last-child {
  background-color: hsl(270, 9%, 17%);
  padding: 10px 30px 10px 30px;
  color: white;
}
.banner {
  background-color: hsl(256, 26%, 20%);
  color: white;
  height: 100vh;
}
.line {
  border: 1px solid white;
  width: 20%;
}
.banner-content {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.heading-title {
  font-size: 37px;
  margin-top: 40px;
}
.banner-img-box img {
  height: 100vh;
}
