/*
font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Serif Display", serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
  font-family: "Karla", sans-serif;
  color: hsl(273, 4%, 51%);
  font-weight: 400;
  text-transform: uppercase;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.menu {
  z-index: 1;
}
.menu ul {
  display: flex;
  gap: 2rem;
}
.menu ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu ul li:hover,
.menu ul li:visited {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
}
.menu ul li:last-child {
  background-color: hsl(270, 9%, 17%);
  padding: 10px 30px 10px 30px;
  color: white;
}
.banner {
  background-color: hsl(256, 26%, 20%);
  color: white;
  height: 100vh;
}
.line {
  border-bottom: 0.1mm solid white;
  width: 30%;
}
.line-black {
  border-bottom: 0.1mm solid hsl(270, 9%, 17%);
  width: 20%;
}
.banner-content {
  position: relative;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.heading-title {
  font-size: 4rem;
  margin-top: 40px;
  font-weight: 400;
  line-height: 1;
}
.banner-img-box img {
  height: 100vh;
}
.right-pattern {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.left-pattern {
  position: absolute;
  bottom: -400px;
  left: 0;
}
.patterns {
  width: 250px;
}
.banner-txt-box p {
  font-weight: 400;
  line-height: 2;
  margin-top: 30px;
  font-family: "Karla", sans-serif;
}
.btn {
  margin-top: 20px;
  background-color: hsl(0, 0%, 98%);
  padding: 13px 35px 13px 35px;
  color: hsl(270, 9%, 17%);
  border: none;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.werd {
  margin-top: 250px;
}

.grid {
  display: grid;
  margin-top: 100px;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.item h3 {
  margin-top: 1.5rem;
  font-size: 1.7rem;
}
.item p {
  margin-top: 1.5rem;
  color: hsl(273, 4%, 51%);
  font-family: "Karla", sans-serif;
  line-height: 1.8;
}
.cta {
  margin-top: 200px;
  display: flex;
  height: 250px;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(256, 26%, 20%);
  position: relative;
}
.cta-heading-title {
  font-size: 3rem;
  color: white;
}
.box {
  padding-left: 50px;
  padding-right: 50px;
}
.cta-btn {
  width: 180px;

  cursor: pointer;
}
.pattern-right {
  position: absolute;
  bottom: -100;
  right: 0;
}
.footer {
  background-color: #fafafa;
  margin-top: 200px;
  padding-top: 70px;
}
.social-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  color: hsl(273, 4%, 51%);
}
.social-icon:hover,
.social-icon:active {
  color: hsl(270, 9%, 17%);
}
.social-icons {
  display: flex;
  gap: 1rem;
}
.line-break {
  border-bottom: 0.1mm solid hsl(273, 4%, 51%);
  margin-top: 40px;
}
.grid--4-cols {
  margin-top: 40px;
  grid-template-columns: repeat(4, 1fr);
}
.footer-menu h3 {
  color: hsl(273, 4%, 51%);
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}
.footer-menu ul li {
  list-style: none;
  cursor: pointer;
}
.footer-menu ul li:hover,
.footer-menu ul li:active {
  text-decoration: underline;
}
.footer-menu ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}
.attribution {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-family: "Karla", sans-serif;
}
